NODE_ENV=
PORT=
APP_DEBUG=
LOG_LEVEL=

# At lease 32 characters long
APP_SECRET=
DATABASE_URL="mysql://root:secret@localhost:3306/task_manager"

ISSUER_BASE_URL=https://YOUR_ISSUER_DOMAIN
AUDIENCE=https://my-api.com